<!DOCTYPE html>
<html lang="pt-br">

<%- include("../includes/head", {title:"Fake Instagram - Entrar"}) %>

<body class="auth">
  <main class="container content-auth">

    <div class="banner">
      <img src="img/banner-login.png" alt="Imagem Login">
      <div class="img-slide">

        <div id="carouselExampleSlidesOnly" class="carousel slide imgS" data-ride="carousel">
          <div class="carousel-inner">
        
            <div class="carousel-item active" data-interval="1500">
              <img src="img/imgBanner3-login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1500">
              <img src="img/imgBanner1-login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1500">
              <img src="img/imgBanner2-login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1500">
              <img src="img/imgBanner5-login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1500">
              <img src="img/imgBanner4-login.jpg" class="d-block w-100" alt="...">
            </div>
            
          </div>
        </div>

      </div>
    </div>

    <div class="content">
      <form class="form-auth card" action="/login" method="POST">
        <div id="logo">
          <img src="img/logo.png" alt="Logo">
        </div>
        <input type="email" name="email" id="email" placeholder="Digite seu email">
        <input type="password" name="password" id="password" placeholder="Senha">
        <button type="submit">Entrar</button>
        <div class="register card">
          <p>Não tem cadastro?&nbsp<a href="/registrar"><b>Cadastre-se</b></a></p>
        </div>

        <div class="msg-errorLogin">
          <% if (typeof msg !== "undefined") { %>
            <p> <%= msg %>  </p>
          <% } %>  
        </div>

      </form>
    </div>

  </main>

  <%- include('../includes/footer') %> 
</body>

</html>
