<header>
  <div class="container header">

    <div class="logoHeader">
      <img src="img/logo.png">
    </div>

    <nav>
      <div class="busca">
        <form>
          <input type="search" name="search" id="buscar-usuarios" placeholder="Buscar usuários">
        </form>
      </div>
      <a href="/home"><img id="icon-home" src="img/icons/home.svg"></a>
      <div class="avatar-content">
        <a href="#">
          <img class="avatar" src="img/example-user.png">
          <b>nome.usuario</b>
        </a>
      </div>
    </nav>

  </div>
</header>